<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>{{title}}</title>
</head>
<body class="bg_black clr_white">
  <div class="top_sec">
    <div class="top_container">
      <img src="/images/casca_logo.png" name="logo" class="logo" />
      <div>
        <h1 class="top_title">Casca Associates</h1>
      </div>    
    </div>    
  </div>
<div class="about_sec">
	<div class="about_heading">About Us</div>
	<div>
		<p>At Casca Associates, we are dedicated to delivering a diverse range of top-notch services tailored to meet the evolving needs of our clients. With a strong foundation in professionalism, expertise, and a client-first philosophy, our experienced team approaches every project with precision and unwavering commitment. From 24/7 customer support, including live chat and complaint resolution, to comprehensive financial services like bookkeeping, tax preparation, and payroll management, we ensure every solution enhances your business's operations and growth. Our data management expertise covers CRM solutions, database organization, and automated workflows designed to boost efficiency and productivity.</p>
    <p>In addition to core business services, we specialize in creative and technical solutions. Our dubbing and voice-over services bring projects to life, while our sound design and advanced mixing and mastering ensure professional-quality audio. We also provide localization services, including translations and cultural adaptations, helping businesses connect with global audiences seamlessly. At Casca Associates, we go beyond being a service provider; we are your strategic partner, dedicated to driving excellence, fostering innovation, and empowering your business to succeed in today’s competitive landscape.</p>
	</div>
</div>
  <div id="services" class="service_sec">
    <div class="service_heading">
      Services
    </div>
    <div class="service_body">
      <div class="btn_sec">
        <button id="slideLeft" class="slide_btn"><img class="btn_larrow" src="/images/arrow.png" /></button>
      </div>      
      <div class="service_box" id="service_box">      
      </div>
      <div class="btn_sec">
        <button id="slideRight" class="slide_btn"><img class="btn_rarrow" src="/images/arrow.png" /></button>
      </div>      
    </div>    
  </div>
  <div class="process_sec">
    <div class="process_heading">
      Our Process
    </div>
    <div id="process" class="process_box"></div>
  </div>
  <div class="contact_sec">
    <div class="contact_heading">
      Contact Us
    </div>
    <div class="contact_box">
      <div class="contact_container">
        <div class="input _field">
          <input id="user_name" type="text" placeholder="Name*" class="input_box" />
        </div>
        <div class="input _field">
          <input id="user_phone" type="number" placeholder="Phone*" class="input_box" />
        </div>
        <div class="input _field">
          <input id="user_email" type="email" placeholder="Email*" class="input_box" />
        </div>
        <div class="input _field">
          <input id="user_message" type="text" placeholder="Message*" class="input_box" />
        </div>
        <div class="form_button_sec pt-4">
          <button class="btn-large waves-effect pulse border-0" onclick="sendMail()">Send Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_sec">
    <div class="footer_1"><img src="/images/casca_image.jpeg" alt="Name" class="footer_img_1"></div>
    <div class="footer_2" id="footer_2"><img src="/images/casca_image.jpeg" alt="Name" class="footer_img_2"></div>
    <div class="footer_3"><img src="/images/casca_image.jpeg" alt="Name" class="footer_img_3"></div>
  </div>

<div class="alert alert-danger alert-dismissible fade show alert_sec" role="alert" id="alert_sec">
  <strong id="alert_text"></strong>
  <button type="button" class="btn-close" onclick="closeAlert()"></button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body modal_body">
        <div class="modal_heading">
          <div id="service_name" class="modal_title">            
          </div>
        </div>
        <div class="modal_desc">
          <p id="service_desc" class="modal_desc"></p>
        </div>        
      </div>
    </div>
  </div>
</div>

  <script src="/js/global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
