<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>{{title}}</title>
</head>
<body class="bg_black clr_white">
  <div class="top_sec">
    <h1>Casca Associates</h1>
    <div class="curved-line"></div>

  </div>
  <div id="services" class="service_sec">
    <div class="service_heading">
      Services
    </div>
    <div class="service_box">
      <div class="service_item">
        <div class="service_card">
          <img src="/public/images/4-5 people of diverse backgrounds work to build a  (1).webp" width="100%" />
          <p>Name</p>
        </div>
      </div>
    </div>
  </div>
  <div id="process" class="process_sec">
  </div>
  <div class="contact_sec">
    <div class="contact_heading">
      Contact Us
    </div>
    <div class="contact_box">
      <div class="contact_container">
        <div class="input _field">
          <input type="text" placeholder="Name" class="input_box" />
        </div>
        <div class="input _field">
          <input type="number" placeholder="Phone" class="input_box" />
        </div>
        <div class="input _field">
          <input type="email" placeholder="Email" class="input_box" />
        </div>
        <div class="input _field">
          <input type="text" placeholder="Message" class="input_box" />
        </div>
        <div class="form_button_sec">
          <button class="btn-large waves-effect pulse">Send Message</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/global.js"></script>
</body>
</html>
