<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>{{title}}</title>
</head>
<body class="bg_black clr_white">
  <div class="top_sec">
    <h1>Casca Associates</h1>
    <div class="curved-line"></div>

  </div>
  <div id="services" class="service_sec">
  </div>

  <script src="/js/global.js"></script>
</body>
</html>
